{% extends 'base.html' %}

{% block main %}

<div class="container my-2">
  <form method="POST">
    {% csrf_token %}
    {{ form.comment_text }}
    <div class="text-right my-2">
      <button type="submit" class="btn btn-light btn-sm">キャンセル</button>
      <button type="" class="btn btn-light btn-sm">コメント</button>
    </div>
  </form>
</div>

<div class="container my-2">

  <ol class="list-group list-group-numbered">
    {% for object in object_list reversed %}
    {% if user == object.author %}
    <li class="list-group-item">
      <div class=" container-fluid">
        <div class="row justify-content-between">
          <div class="col-5">
            <small class="text-muted">{{object.author.profile.name}}</small>
          </div>
          <div class="col-7  text-right">

            <small class="text-muted mr-4">{{object.updated_at}}</small>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
        </div>
        <p class="mb-1">{{object.comment_text}}</p>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ol>
</div>

{% endblock main %}