{% extends 'base.html' %}

{% block main %}


<div class="container my-2">
  <form method="get" action="">
    {% csrf_token %}
    <div class="row">

      <div class="col-auto pr-0">
        <select name="select_profile_pk" class="form-select mb-2">
          <option value="{{ s_profile_pk }}" selected="">{{ s_profile_name }}</option>
          <option value="all_select">すべて</option>
          <!-- ユーザーの名前だけを表示 -->
          {% for profile in profiles %}
          <option value="{{ profile.pk }}">{{ profile.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto pr-0">
        <select name="select_period_key" class="form-select mb-2">
          <option value="{{ s_period_key }}" selected="">{{ s_period }}</option>
          <option value="today_select">今日</option>
          <option value="yesterday_select">昨日</option>
          <option value="one_week_before">１週間以内</option>
          <option value="one_month_before">１ヶ月以内</option>
          <option value="one_year_before">１年以内</option>
          <option value="all_select">すべて</option>
        </select>
      </div>
      <div class="text-right col-auto pr-0">
        <button type="submit" class="btn btn-info btm-sm">検索</button>
      </div>
    </div>

  </form>
</div>


<!-- 全てのコメントの一覧 -->
<div class="container my-2">
  <ol class="list-group list-group-numbered">
    {% for comment in comment_objects %}

    <!-- ひとつのコメントとそれに紐づく返信コメントの一覧 -->
    {% include 'snippets/comment_box.html' %}

    {% endfor %}
  </ol>
</div>


{% endblock main %}