{% extends 'base.html' %}

{% block main %}

<section class="container-fluid my-3">
  <!-- Tagモデルの全てを取得 -->
  {% for tag in tag_list %}
  <a href="/tags/{{tag.slug}}/" class="btn btn-light btn-sm mb-1">{{ tag.name }}</a>
  {% endfor %}
  <a href="/" class="btn btn-light btn-sm">ALL</a>
  <small class="ml-3">{{tag_name}} : {{total_item}}本</small>
</section>

<!-- 動画一覧 -->
<!-- <section class="container" style="max-width:100%"> -->
<section class="px-2">
  <div class="row mt-2 mb-5">
    {% for item in item_list %}
    <div class="col-12 col-lg-3 col-md-6 my-1">
      {% include 'snippets/item_box.html' %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- ページング処理の部分 -->
<section class="container">
  {% include 'snippets/pagination.html' %}
</section>

{% endblock main %}