{% extends 'base.html' %}

{% block main %}

<div class="card w-100" style="border: 0px;">
  <div class="embed-responsive embed-responsive-16by9">
    <!-- embed: 埋め込み, rel=0: 関連動画を非表示, modestbranding=1: YouTubeロゴの非表示 -->
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{object.youtube_url}}?rel=0&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="card-body">
    <div class="item_detail_basicData">
      <div class="row justify-content-between">
        <div class="col-4 align-self-start" style="padding-right: 0px;"><small class="card-text">#{{item.tag}}</small></div>
        <div class="col-8 align-self-end text-right" style="padding-left: 0;"><small class="card-text">{{item.updated_at}}</small></div>
      </div>
      <small class="card-title">{{item.title}}</small>
    </div>

    <div class="accordion mt-2" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingDescription">
          <button class="accordion-button collapsed btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
            動画詳細
          </button>
        </h2>
        <div id="collapseDescription" class="accordion-collapse collapse show" aria-labelledby="headingDescription">
          <div class="accordion-body py-2">
            <!-- データを入力時と同じ改行で表示する value | linebreaksbr  -->
            <small class="card-text">{{item.description | linebreaksbr }}</small>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingCreateComment">
          <button class="accordion-button collapsed btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreateComment" aria-expanded="false" aria-controls="collapseCreateComment">
            コメントする
          </button>
        </h2>
        <div id="collapseCreateComment" class="accordion-collapse collapse" aria-labelledby="headingCreateComment">
          <div class="accordion-body">

            <!-- コメント作成用 -->
            <form method="POST">
              {% csrf_token %}
              {{ comment_form }}

              <div class="text-right my-2">
                <button type="text" class="btn btn-info btn-sm disabled" onclick="clearText()">キャンセル</button>
                <button type="submit" class="btn btn-info btn-sm" name="CommentFormBtn">コメント送信</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header " id="headingListComment">
          <button class="accordion-button collapsed btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseListComment" aria-expanded="false" aria-controls="collapseListComment">
            コメントを見る　
            <span class="badge bg-primary rounded-pill">{{comment_count}}</span>
          </button>
        </h2>
        <div id="collapseListComment" class="accordion-collapse collapse" aria-labelledby="headingListComment">
          <div class="accordion-body">

            <!-- 動画に紐づくコメントを一覧で表示 -->
            {% for comment in item.comment_set.all %}
            <div class="detail_comment_list py-2">
              <div class="row">
                <div class="col-auto me-auto">
                  <small class="text-muted">{{ comment.author.profile.name }}</small>
                </div>
                <div class="col-auto">
                  <small class="text-muted">{{ comment.updated_at }}</small>
                  <div id="panelsStayOpen-heading_{{ comment.pk }}" class="inline_block">
                    <button type="button" class="btn btn-light btn-sm fs-6" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse_{{ comment.pk }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse_{{ comment.pk }}" style="font-size: 0.2rem;">返信</button>
                  </div>
                </div>
              </div>
              <small class=" mb-1">{{ comment.comment_text| linebreaksbr}}</small>

              <!-- 返信コメントの箱 -->
              <div id="panelsStayOpen-collapse_{{ comment.pk }}" class=" collapse" aria-labelledby="panelsStayOpen-heading_{{ comment.pk }}">

                <!-- 返信コメントフォーム -->
                <form method="POST">
                  {% csrf_token %}
                  <!-- このフォームは非表示なので入力されない -->
                  {{ reply_form }}

                  <!-- comment.idを含んで、処理する部分 -->
                  <textarea name="comment_text" cols="40" rows="1" class="form-control my-3" placeholder="返信する" oninput="resizeReplyTextarea(this);" maxlength="1000" required="" id="id_comment_text_{{ comment.pk }}"></textarea>
                  <input type="hidden" name="comment_to" value="{{ comment.pk }}">


                  <div class="text-right my-2">
                    <button type="text" class="btn btn-info btn-sm disabled" onclick="clearText()">キャンセル</button>
                    <button type="submit" class="btn btn-info btn-sm" name="ReplyFormBtn">コメント送信</button>
                  </div>
                </form>

                <!-- コメントに対する、返信コメントの一覧を出力 -->
                <div class="container bg-light mt-2 py-2">
                  {% for reply in comment.reply_set.all %}
                  <div class="my-3">
                    <div class="row">
                      <div class="col-auto me-auto">
                        <small>{{ reply.author.profile.name }}</small>
                      </div>
                      <div class="col-auto">
                        <small>{{ reply.created_at }}</small>
                      </div>
                    </div>
                    <small>{{ reply.comment_text | linebreaksbr }}</small>
                  </div>
                  {% endfor %}
                </div>

              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <i class="fa-regular fa-comment-pen"></i>
  </div>



  {% endblock main %}