{% extends 'base.html' %}

{% block main %}

<div class="card w-100">
  <div class="embed-responsive embed-responsive-16by9">
    <!-- embed: 埋め込み, rel=0: 関連動画を非表示, modestbranding=1: YouTubeロゴの非表示 -->
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{object.youtube_url}}?rel=0&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div class="card-body">
    <!-- 各Itemに紐づくtagを全て取得する -->
    {% for tag in items.tags.all %}
    <p class="card-text">#{{tag}}</p>
    {% endfor %}
    <p class="card-title">{{items.title}}</p>
    <p class="card-text">{{items.description}}</p>
  </div>
</div>

<!-- コメント作成用 -->
<div class="container my-2">
  <form method="POST">
    {% csrf_token %}
    {{ form.comment_text }}
    <div class="text-right my-2">
      <button type="submit" class="btn btn-light btn-sm">コメント</button>
    </div>
  </form>

  <!-- コメント一覧用 -->
  <div class="container">
    {% for comment in items.comment_set.all %}
    <div class="mb-2">
      <div class="row justify-content-between">
        <div><small>{{comment.author.profile.name}}</small></div>
        <div><small>{{comment.updated_at}}</small></div>
      </div>
      <div class="row">
        <small>{{comment.comment_text}}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock main %}