{% extends 'base.html' %}

{% block main %}


<div class="container my-5">
  <div class="row">
    <div class="col-auto me-auto">
      <h1>動画一覧</h1>
    </div>
    <div class="col-auto" style="display: flex; align-items: center;">
      <button type="submit" class="btn btn-info btm-sm"><a class="whitetext" href="/item/create/">動画追加</a></button>
    </div>
  </div>

  {% for item in item_list %}
  <!-- ひとつの動画の箱 -->
  <div class="one_box py-2">
    <div class="row">
      <div class="col-auto me-auto">
        <small>{{item.shooting_date}}</small>
      </div>
      <div class="col-auto">
        <small>{{item.tag}}</small>
        <a href="/item/update/{{item.pk}}/">
          <button type="button" class="badge btn btn-outline-primary">編集</button>
        </a>
        <a href=" /item/delete/{{item.pk}}/">
          <button type="button" class="badge btn btn-outline-primary">削除</button>
        </a>
      </div>
    </div>
    <div class="row"><small>{{item.title}}</small></div>
    <div class="row"><small>{{item.description|truncatechars:25}}</small></div>
  </div>
  {% endfor %}
</div>

<!-- ページング処理の部分 -->
<div class="container">
  {% include 'snippets/pagination.html' %}
</div>

{% endblock %}