{% extends 'base.html' %}

{% block main %}

<div class="container my-5">
  <h1>VideoList</h1>
  <ol class="list-group list-group-numbered">
    {% for item in item_list %}
    <div class="detail_comment_list py-2">
      <div class="row">

        <div class="col-9">
          <p>{{item.tag}}</p>
          <p>{{item.shooting_date}}</p>
        </div>
        <div class="col-3">
          <a href="/item/update/{{item.pk}}/">
            <button type="button" class="btn btn-light btn-sm fs-6">編集</button>
          </a>
          <a href="/item/delete/{{item.pk}}/">
            <button type="button" class="btn btn-light btn-sm fs-6">削除</button>
          </a>
        </div>
      </div>

      <p>{{item.title}}</p>
    </div>
    {% endfor %}
  </ol>
</div>

{% endblock %}