<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Hello, world!</title>
  <style>
    .ans {
      display: none;
      /* 初期設定は開く */
      height: 60px;
      background-color: yellow;
    }
  </style>
</head>

<body>
  <!-- <h1>Hello, world!</h1> -->

  <!-- <button type="button" id="q1" class="btn btn-primary" onclick="openQuestion(1);">開く</button>
  <div class="ans bg-warning " id="a1">1個目が開閉する</div>

  <br><br>

  <button type="button" id="q2" class="btn btn-primary" onclick="openQuestion(2);">開く</button>
  <div class="ans bg-warning " id="a2">2個目が開閉する</div> -->

  <button type="button" id="q1" onclick="collapseTrigger(1);">開く</button>
  <div class="ans" id="a1">1個目が開閉する</div>

  <br><br>
  <button type="button" id="q2" onclick="collapseTrigger(2);">開く</button>
  <div class="ans" id="a2">2個目が開閉する</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script>
    function collapseTrigger(num) {
      console.log(num);
      var status = document.getElementById("q" + num).textContent;
      if (status == "開く") {
        document.getElementById("q" + num).textContent = "閉じる";
        document.getElementById("a" + num).style.display = "block";
      }
      if (status == "閉じる") {
        document.getElementById("q" + num).textContent = "開く";
        document.getElementById("a" + num).style.display = "none";
      }
      // exit;
    }
  </script>
</body>

</html>