body {
  /* ヘッダー分が隠れないように */
  padding-top: 56px;
}

/* a {
  text-decoration:none
} */


/* ****************************************************** */
/* bootstrapのclass */
.card-body {
  padding: 0.5rem;

}
.card-title, .card-text {
  margin: 0;
}

small {
  color: gray;
}
.list-group-item {
  padding: 0.8rem 0;
}
