body {
  /* ヘッダー分が隠れないように */
  padding-top: 56px;
}

.item_detail_basicData {
  padding: 0 0.5rem;
}

.one_box {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.inline_block {
  display: inline-block;
  /* インラインブロック要素にする */
}

/* プロフィールのカレンダー */
.inline_block_select {
  width: auto;
  display: inline-block;
  /* インラインブロック要素にする */
}

.reply_box:empty {
  display: none;
}

/* a:hover {
  color: white;
} */

.whitetext:visited {
  color: white;
}

.whitetext:hover {
  text-decoration: none;
}

.update_form {
  display: none;
}

/* a.no-color-change {
  color: white;
} */

.nonfield {
  display: none;
}

/* bootstrapのclass */
/*-------------------------
  bootstrapのclass
-------------------------*/
.card-body {
  padding: 0.5rem;
}

.card-title,
.card-text {
  margin: 0;
}

small {
  color: gray;
}

.list-group-item {
  padding: 0.8rem 0;
}

::marker {
  color: blue;
  font-size: 0;
  /* font-size: 1.2em; */
}

li {
  list-style-type: none;
  /*リストマーカー無しにする*/
}

li.page-item::marker {
  list-style-type: none;
  /*リストマーカー無しにする*/
}

.accordion-body {
  padding: 0.5rem 0.5rem;
}


/* ****************************************************** */
/* 改行で自動で大きさが変わるtextarea */


.resizeTextarea {
  resize: none;
  line-height: 1.5;
  width: 100%;
}