<!-- ひとつのコメントとそれに紐づく返信コメントの一覧 -->
<div class="detail_comment_list py-2">


  <!-- ひとつのコメント -->
  <!-- <div class="container"> -->
  <section>


    <div class="row">
      <div class="col-auto me-auto">
        <!-- 個人ページと全員ページで出し分ける -->
        {% if 'comment' not in request.path %}
        <small class="text-muted mr-4">{{ object.author.profile.name }}</small>
        {% endif %}
      </div>
      <div class="col-auto">
        <small>{{ object.updated_at }}</small>
        <!-- 返信ボタンと返信数の表示切り替え -->
        {% if 'comment' not in request.path %}
        <div id="panelsStayOpen-heading_{{ object.pk }}" class="inline_block">
          <button type="button" class="btn btn-light btn-sm fs-6" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse_{{ object.pk }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse_{{ object.pk }}" style="font-size: 0.2rem;">返信</button>
          <!-- コメントに紐づく返信コメントの数 -->
          <span class="badge bg-primary rounded-pill">{{object.reply_set.all.count}}</span>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- 個人ページ・全員ページと動画ページで出し分ける -->
    <!-- 動画ページ以外で動画と紐づくコメントなら動画ページへのリンクを表示する -->
    {% if 'items' not in request.path %}
    <div id="comment_to_detail_link_box">
      <a href="/items/{{object.target.id}}/">
        <small>動画: </small>
        <small id="comment_to_detail_link">{{ object.target}}</small>
        <span class="badge rounded-pill bg-info">Link</span>
      </a>
    </div>
    {% endif %}

    <small class="mb-1">{{ object.comment_text | linebreaksbr }}</small>

    <!-- 返信コメントフォーム -->
    {% include 'snippets/comment_reply_form.html' %}
    <!-- </div> -->
  </section>



  <!-- ひとつのコメントに対する、返信コメントの一覧を出力 -->
  <section class="bg-light">

    {% for reply in object.reply_set.all %}
    <div class="mt-2 py-2 reply_box">
      <div class="row">
        <div class="col-auto me-auto">
          <small class="text-muted mr-4">{{ reply.author.profile.name }}</small>
        </div>
        <div class="col-auto">
          <small>{{ reply.created_at }}</small>
        </div>
      </div>
      <small>{{ reply.comment_text | linebreaksbr }}</small>
    </div>
    {% endfor %}
  </section>
</div>