<!-- ひとつのコメントとそれに紐づく返信コメントの一覧 -->


<!-- ひとつのコメントの箱 -->
<div class="one_box py-2">
  <div class="row">
    <div class="col-auto me-auto">
      <!-- 個人ページと全員ページで出し分ける -->
      {% if 'comment' not in request.path %}
      <small class="text-muted mr-4">{{ comment.author.profile.name }}</small>
      {% endif %}
    </div>
    <div class="col-auto">
      <small>{{ comment.updated_at }}</small>

      {% if user == comment.author %}
      <!-- 編集ボタンで開閉する コメント編集入力フォーム -->
      <button class="badge btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_update_{{ comment.pk }}" aria-expanded="false" aria-controls="collapse_update_{{ comment.pk }}" id="collapse_update_Trigger_{{ comment.pk }}" onclick="updateCommentText(this);">編集</button>
      {% endif %}


      <!-- 返信ボタンで開閉する 返信コメント入力フォーム -->
      <button class="badge btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_reply_{{ comment.pk }}" aria-expanded="false" aria-controls="collapse_reply_{{ comment.pk }}" id="collapse_reply_Trigger_{{ comment.pk }}">返信{{ comment.reply_set.all.count }}件</button>

    </div>
  </div>

  <!-- 個人ページ・全員ページと動画ページで出し分ける -->
  <!-- 動画ページ以外で動画と紐づくコメントなら動画ページへのリンクを表示する -->
  {% if 'items' not in request.path %}
  <div id="comment_to_detail_link_box">
    <a href="/items/{{object.target.id}}/">
      <span class="badge rounded-pill bg-info">Link</span>
      <small id="comment_to_detail_link">{{ comment.target}}</small>
    </a>
  </div>
  {% endif %}

  <!-- コメント修正入力フォームが開いたら閉じる -->
  <small class="mb-1" id="get_comment_text_{{ comment.pk }}">{{ comment.comment_text | linebreaksbr }}</small>

  <!-- 編集ボタンで開閉する -->
  <div id="collapse_update_{{ comment.pk }}" class="collapse multi-collapse">
    {% include 'snippets/comment_form_update.html' %}
  </div>

  <!-- 返信ボタンで開閉する -->
  <div id="collapse_reply_{{ comment.pk }}" class="collapse multi-collapse">

    <div class="bg-light mt-2">
      <div class="text-center">
        <small class="font-italic">返信コメント</small>
      </div>

      <!-- ひとつのコメントに対する、返信コメントの一覧を出力 -->
      {% for reply in comment.reply_set.all %}
      {% include 'snippets/reply_box.html' %}
      {% endfor %}

      {% include 'snippets/reply_form.html' %}

    </div>
  </div>

</div>