<nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">🏀BukatuNote</a>
    <i class="fa-regular fa-comment-pen"></i>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            管理者ページ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/everyone/">ノート(全員ページ)</a></li>
            <li><a class="dropdown-item" href="/item/list/">動画(作成・編集)</a></li>
          </ul>
        </li>
        {% endif %}

        <a class="nav-link" href="/comment/">ノート</a>

        <a class="nav-link" href="/profile/">プロフィール</a>
        <a class="nav-link" href="/account/">アカウント</a>


        <!-- ログインしているか、していないかで出しわけ -->
        {% if user.is_authenticated %}
        <a class="nav-link" href="/logout/">ログアウト</a>
        {% else %}
        <a class="nav-link" href="/login/">ログイン</a>
        <a class="nav-link" href="/signup/">サインイン</a>
        {% endif %}

      </div>
    </div>

  </div>
</nav>