<nav class="navbar navbar-expand-lg  container d-flex flex-column flex-md-row navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">🏀BukatuNote</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/comment/">Comment</a>
        <a class="nav-link" href="/profile/">Profile</a>
        <a class="nav-link" href="/account/">Account</a>
        <!-- ログインしているか、していないかで出しわけ -->
        {% if user.is_authenticated %}
        <a class="nav-link" href="/logout/">Logout</a>
        {% else %}
        <a class="nav-link" href="/login/">Login</a>
        <a class="nav-link" href="/signup/">SignUp</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
</div>