<!-- 返信コメントフォーム -->
<form method="POST">
  {% csrf_token %}
  <!-- このフォームは非表示なので入力されない -->
  {{ reply_form }}

  <!-- comment.idを含んで、処理する部分 -->
  <textarea name="comment_text" cols="40" rows="1" class="form-control mt-1 mb-2" placeholder="返信する" oninput="resizeTextarea(this);" maxlength="1000" required="" id="reply_text_{{ comment.pk }}"></textarea>
  <input type="hidden" name="comment_to" value="{{ comment.pk }}">


  <div class="text-right my-2">
    <button type="text" class="btn btn-info btn-sm disabled" onclick="clearText()">キャンセル</button>
    <button type="submit" class="btn btn-info btn-sm" name="ReplyFormBtn">返信 送信</button>
  </div>
</form>