<!-- 返信の一つ -->
<div class="mb-2 py-2 border-top">
  <div class="row">
    <div class="col-auto me-auto">
      <small class="text-muted mr-4">{{ reply.author.profile.name }}</small>
    </div>
    <div class="col-auto">
      <small>{{ reply.created_at }}</small>

      {% if user == reply.author %}
      <!-- 編集ボタンで開閉する コメント編集入力フォーム -->
      <button class="badge btn btn-outline-primary" type="button" id="reply_EditTrigerBtn_{{ reply.pk }}" onclick="EditTrigerBtn(this);">
        編集
      </button>
      {% endif %}

    </div>
  </div>

  <!-- 返信修正入力フォームが開いたら閉じる -->
  <small id="reply_Original_Text_{{ reply.pk }}" class="mb-1">{{ reply.comment_text | linebreaksbr }}</small>

  <!-- 編集ボタンで開閉する -->
  <div id="reply_Accordion_Form_Box_{{ reply.pk }}" class="update_form">
    {% include 'snippets/reply_form_update.html' %}
  </div>

</div>